@font-face {
  font-family: Museo Sans Cyrl;
  src: url("../fonts/MuseoSansCyrl-300.woff");
  font-weight: 300;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url("../fonts/MuseoSansCyrl-500.woff");
  font-weight: 400;
}

@font-face {
  font-family: Museo Sans Cyrl;
  src: url("../fonts/MuseoSansCyrl-700.woff");
  font-weight: 600;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ffffff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background-color: #ffffff;
  font-family: Museo Sans Cyrl, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #000000;
}

.k-header {
  display: block;
  position: relative;
  padding: 6px 0;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    &-text {
      display: inline-block;
      margin: 0 0 0 45px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #4e4e4e;
    }
    img,
    svg {
      display: inline-block;
      max-width: 141px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #d25043;
      text-decoration: none;
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__phone {
    display: inline-block;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #202020;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #d25043;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 0 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #4e4e4e;
  }
}

.k-top {
  display: block;
  position: relative;
  padding: 160px 0 200px 0;
  background: #f3f4f5;
  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    background: #f3f4f5;
    z-index: -1;
  }
  &__title {
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    max-width: 570px;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #4e4e4e;
  }
  &__phone {
    display: block;
    margin: 46px 0 0 0;
    font-weight: 600;
    font-size: 45px;
    line-height: 54px;
    color: #d25043;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #202020;
      text-decoration: none;
    }
  }
  &__block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 20px auto 0 auto;
    padding: 54px 60px 60px 60px;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #4e4e4e;
    img,
    svg {
      display: block;
      max-width: 44px;
      max-height: 44px;
      margin-bottom: 42px;
    }
  }
}

.k-welcome {
  display: block;
  position: relative;
  width: 100%;
  background: #e5e7ec;
  border-radius: 30px;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 740px;
    border-radius: 30px;
    background-position: center center;
    background-size: cover;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding: 35px 0 50px 0;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-right: 1px solid #868992;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #202020;
    &:last-child {
      border: 0;
    }
  }
}

.k-when {
  display: block;
  position: relative;
  padding: 150px 0 130px 0;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 455px;
    margin: 45px 0 0 0;
    border-radius: 30px;
    background-size: cover;
    background-position: center center;
  }
  ul {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    li {
      display: block;
      position: relative;
      margin: 0 0 32px 0;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: -30px;
        top: 6px;
        width: 16px;
        height: 16px;
        background: url("../images/icon_li.svg") no-repeat 0 0;
        background-size: contain;
        pointer-events: none;
      }
    }
  }
}

.k-features {
  display: block;
  position: relative;
  width: 100%;
  padding: 150px 0 130px 0;
  background: #e5e5e5;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    max-width: 760px;
    margin: 0 0 80px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 30px;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 740px;
      padding: 60px 70px;
      border-radius: 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.31%, rgba(0, 0, 0, 0.9) 100%);
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: #ffffff;
      & > div,
      span {
        max-width: 570px;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    right: auto;
    bottom: 55px;
    margin: 0;
    width: 80px;
    height: 80px;
    border-radius: 999rem;
    background: #ffffff;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 37px;
      max-height: 37px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #d25043;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    right: 185px;
  }
  .swiper-button-next {
    right: 75px;
  }
}

.k-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 140px 0;
  background: #e5e5e5;
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    max-width: 780px;
    margin: 50px 0 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
  }
  &__cards {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 70px;
  }
  &__block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 570px;
    min-height: 380px;
    padding: 70px 20px 20px 20px;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #202020;
    z-index: 2;
    img,
    svg {
      display: block;
      max-width: 60px;
      max-height: 60px;
      margin-bottom: 30px;
    }
    &_over {
      margin-left: -30px;
    }
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 630px;
    height: 445px;
    border-radius: 30px;
    background-position: center center;
    background-size: cover;
    &_over {
      margin-left: -30px;
    }
  }
}

.k-work {
  display: block;
  position: relative;
  width: 100%;
  padding: 150px 0;
  &__block {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 90px auto;
    padding: 65px 0;
    background: #e5e7ec;
    border-radius: 30px;
  }
  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 10px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    &__name {
      display: block;
      position: relative;
      height: 84px;
      overflow: hidden;
      margin: 0 0 34px 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 42px;
      color: #202020;
    }
    &__who {
      display: block;
      margin: 0 0 24px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      color: #202020;
    }
    &__subtitle {
      display: block;
      margin: 0 0 7px 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #4e4e4e;
    }
    &__info {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #202020;
    }
    &__text {
      display: block;
      position: relative;
      max-width: 500px;
      height: 240px;
      overflow: hidden;
      margin: 25px 0 0 0;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #4e4e4e;
    }
    &__link {
      display: block;
      position: relative;
      margin: 30px 0 0 0;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      color: #d25043;
      z-index: 3;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d25043;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 570px;
      height: 570px;
      border-radius: 30px;
      background-size: cover;
      background-position: center center;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    left: auto;
    right: auto;
    bottom: 30px;
    margin: 0;
    width: 80px;
    height: 80px;
    border-radius: 999rem;
    background: #ffffff;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 37px;
      max-height: 37px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #d25043;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    right: 140px;
  }
  .swiper-button-next {
    right: 30px;
  }
  .swiper-pagination {
    top: 0;
    left: 0;
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #d25043;
    letter-spacing: -4px;
    pointer-events: none;
  }
}

.k-sad {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 160px 0;
  background: #f3f4f5;
  img,
  svg {
    display: block;
    max-width: 100%;
    border-radius: 30px;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    b,
    strong {
      font-weight: 600;
      color: #d25043;
    }
  }
}

.k-rooms {
  display: block;
  position: relative;
  padding: 130px 0 110px 0;
  background: #e5e7ec;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 0 30px 0;
    border-radius: 30px;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 320px;
      padding: 60px 50px;
      border-radius: 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
      font-weight: 600;
      font-size: 35px;
      line-height: 42px;
      color: #ffffff;
      transition: all 0.2s ease-out;
      & > div,
      span {
        max-width: 570px;
        border-bottom: 3px solid #d25043;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .k-rooms-card__content {
        color: #d25043;
      }
      text-decoration: none;
    }
  }
}

.k-goal {
  display: block;
  position: relative;
  padding: 140px 0 120px 0;
  &__title {
    display: block;
    margin: 0 0 55px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
  }
  &__image {
    display: block;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 30px;
  }
  ul {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    li {
      display: block;
      position: relative;
      margin: 0 0 30px 0;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: -30px;
        top: 6px;
        width: 16px;
        height: 16px;
        background: url("../images/icon_li.svg") no-repeat 0 0;
        background-size: contain;
        pointer-events: none;
      }
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    border-radius: 20px;
    background-position: center center;
    background-size: contain;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 380px;
      border-radius: 20px;
      background: linear-gradient(0deg, rgba(210, 80, 67, 0.8), rgba(210, 80, 67, 0.8));
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 92px;
        max-height: 92px;
        transition: all 0.2s ease-out;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .k-goal-card__content {
        opacity: 1;
      }
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 160px;
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 37px;
      max-height: 37px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #d25043;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    transform: translateX(-50%);
  }
  .swiper-button-next {
    transform: translateX(50%);
  }
}

.k-start {
  display: block;
  position: relative;
  padding: 130px 0 140px 0;
  background: #e5e7ec;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &-card {
    display: block;
    margin: 0 0 50px 0;
    &__number {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 66px;
      color: #d25043;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 30px;
      color: #202020;
    }
  }
  &-form {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    label {
      display: block;
      position: relative;
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #202020;
    }
    input,
    textarea {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 26px 0;
      padding: 18px 24px;
      background: #ffffff;
      border: 1px solid #e59639;
      box-sizing: border-box;
      border-radius: 10px;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #202020;
    }
    &__file {
      input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
      }
      img,
      svg {
        display: inline-block;
        flex: 0 0 14px;
        max-width: 14px;
        max-height: 18px;
        margin-right: 12px;
      }
      display: flex;
      align-items: center;
      margin: 0 0 26px 0 !important;
      font-style: normal;
      font-weight: normal;
      font-size: 20px !important;
      line-height: 24px !important;
      color: #d25043 !important;
      cursor: pointer;
      & > span,
      & > div {
        text-decoration: underline;
      }
      &:before,
      &:after {
        display: none !important;
      }
      cursor: pointer;
      transition: all 0.2s ease-out;
      &:hover {
        & > span,
        & > div {
          text-decoration: none;
        }
        color: #d25043;
        text-decoration: none;
      }
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      padding: 18px 6px;
      border: 0;
      outline: none;
      background: #d25043;
      border-radius: 10px;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ff6d60;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__info {
      display: block;
      width: 100%;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #202020;
    }
  }
}

.k-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 20px 0;
  background: #f3f4f5 url("../images/bottom_help.png") no-repeat bottom 80px left 0;
  background-size: 100% 100%;
  &__title {
    display: block;
    margin: 0 0 52px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__subtitle {
    display: block;
    margin: 0 0 12px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #4e4e4e;
  }
  &__info {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    a {
      color: #202020;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ff6d60;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ff6d60;
      text-decoration: none;
    }
  }
  &__subinfo {
    display: block;
    margin: 1px 0 30px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #4e4e4e;
  }
  &__logo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    img,
    svg {
      display: inline-block;
      max-width: 160px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #d25043;
      text-decoration: none;
    }
  }
  &__license {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #4e4e4e;
    b,
    strong {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      color: #202020;
    }
  }
  &__nav {
    display: block;
    position: relative;
    a {
      display: block;
      margin: 0 0 12px 0;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #202020;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d25043;
        text-decoration: none;
      }
    }
  }
  &__creators {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 40px;
    img,
    svg {
      display: block;
      max-width: 38px;
      max-height: 38px;
      margin-right: 15px;
    }
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    a {
      font-weight: 400;
      color: #202020;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d25043;
        text-decoration: none;
      }
    }
  }
  &__need {
    display: block;
    position: relative;
    margin: 80px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.7em;
    color: #202020;
    opacity: 0.2;
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 530px;
  margin: 35px 0 70px 0;
  border-radius: 30px;
}

.k-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  &__header {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
    li {
      display: inline-block;
      position: relative;
      padding: 13px 44px;
      background: #f3f4f5;
      border-radius: 10px 10px 0px 0px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: rgba(32, 32, 32, 0.5);
      &_active {
        background: #e5e7ec;
        color: #202020;
      }
      &:last-child {
        border-right: 0;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #ff6d60;
        text-decoration: none;
      }
      &.current {
        background: #e5e7ec;
        color: #202020;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    min-height: 330px;
    padding: 50px;
    background: #e5e7ec;
    border-radius: 0px 10px 10px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #202020;
    &.current {
      display: block;
    }
  }
}

.k-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 30px 0;
    padding: 20px;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 38px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 66px;
    color: #202020;
  }
  &__text {
    display: block;
    margin: 0 0 47px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
  }
  &__subtitle {
    display: block;
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
  }
  &__price {
    display: block;
    position: relative;
    margin: 30px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #202020;
    b,
    strong {
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      color: #d25043;
    }
  }
  &-big {
    display: block;
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 30px;
    background-size: cover;
    background-position: center center;
  }
  &-small {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
  }
  .swiper-slide-thumb-active {
    .k-modal-small {
      border-color: #d25043;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 120px;
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 999rem;
    background: #ffffff;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
    transform: none;
    &:before,
    &:after {
      display: none;
    }
    img,
    svg {
      max-width: 37px;
      max-height: 37px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #d25043;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    transform: translateX(-50%);
  }
  .swiper-button-next {
    transform: translateX(50%);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1320px) {
  .k-welcome {
    width: 1320px;
    margin-left: -60px;
  }
  .k-work__block {
    width: 1320px;
    margin-left: -60px;
    padding-left: 60px;
    padding-right: 60px;
  }
  #map {
    width: 1320px;
    margin-left: -60px;
  }
}

@media (max-width: 1199px) {
  .h-first {
    order: -1;
  }
  .k-goal .swiper-button-next,
  .k-goal .swiper-button-prev {
    display: none;
  }
  .k-footer__need {
    margin: 80px 0 0 0;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
  }
  .k-header__phone {
    display: none;
  }
  .k-header__info {
    display: none;
  }
  .k-top {
    padding: 20px 0 70px 0;
  }
  .k-top__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
  }
  .k-top__text {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .k-header__logo-text {
    margin-left: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .k-header__logo img,
  .k-header__logo svg {
    max-width: 122px;
  }
  .k-top__phone {
    margin-top: 20px;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #d25043;
  }
  .k-top__block {
    padding: 45px 25px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-top__block img,
  .k-top__block svg {
    margin-bottom: 25px;
  }
  .k-welcome__image {
    height: 200px;
  }
  .k-welcome-card {
    padding: 26px 20px;
    border: 0;
    border-bottom: 1px solid #868992;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-welcome__cards {
    padding: 10px 30px 20px 30px;
  }
  .k-top:after {
    height: 100px;
  }
  .k-when {
    padding: 65px 0;
  }
  .k-when__title {
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-when__image {
    height: 280px;
    margin: 0 auto;
  }
  .k-when ul {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-when ul li {
    margin: 30px 0 0 30px;
  }
  .k-features {
    padding: 70px 0;
  }
  .k-features__title {
    margin-bottom: 22px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-features__text {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-features-card__content {
    height: 420px;
    padding: 25px 30px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }
  .k-features .swiper-button-next,
  .k-features .swiper-button-prev {
    bottom: 180px;
  }
  .k-features .swiper-button-prev {
    right: auto;
    left: 0;
  }
  .k-features .swiper-button-next {
    right: 0;
  }
  .k-how__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-how__text {
    margin-top: 22px;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-how__cards {
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 0 30px 0;
    padding: 0;
  }
  .k-how__image {
    order: -1;
    height: 270px;
    margin: 0 !important;
  }
  .k-how__block {
    min-height: auto;
    margin: -60px 0 0 0 !important;
    padding: 36px 46px 50px 46px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    br {
      display: none;
    }
  }
  .k-how {
    padding-bottom: 40px;
  }
  .k-work {
    padding: 70px 0;
  }
  .k-work__block {
    margin-bottom: 70px;
    padding: 30px;
  }
  .k-work__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-work__text {
    margin-top: 22px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-work-card__image {
    height: 200px;
    background-position: center top;
  }
  .k-work .swiper-pagination {
    display: none;
  }
  .k-work .swiper-button-next,
  .k-work .swiper-button-prev {
    bottom: auto;
    top: 60px;
  }
  .k-work .swiper-button-prev {
    right: auto;
    left: 0;
  }
  .k-work .swiper-button-next {
    right: 0;
  }
  .k-work-card__name {
    height: 60px;
    margin: 30px 0 20px 0;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  .k-work-card__subtitle {
    display: none;
  }
  .k-sad {
    padding: 70px 0;
  }
  .k-sad__title {
    margin: 44px 0 22px 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-sad__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-rooms {
    padding: 70px 0;
  }
  .k-rooms__title {
    margin-bottom: 44px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-rooms-card__content {
    height: 240px;
    padding: 40px 30px;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
  }
  .k-rooms-card {
    margin-bottom: 20px;
  }
  .k-goal {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 70px 0;
  }
  .k-goal__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-modal__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-modal__text {
    margin: 30px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-modal__subtitle {
    margin-bottom: 20px;
  }

  .k-goal__text {
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-tabs__header li {
    padding: 12px;
  }
  .k-tabs__content {
    padding: 20px;
  }
  .k-goal__cards {
    max-width: 300px;
    overflow: visible !important;
    margin: 0 auto 70px auto;
  }
  .k-goal ul {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-goal ul li {
    margin: 0 0 30px 30px;
  }
  .k-goal__image {
    margin: 0;
  }
  .k-start {
    padding: 70px 0;
  }
  .k-start__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  .k-start-card__text {
    padding-left: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }
  .k-start-form {
    padding: 20px;
  }
  .k-start-form__info {
    margin: -10px 0 25px 0;
  }
  .k-footer {
    padding: 70px 0 30px 0;
  }
  .k-footer__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }
  #map {
    height: 350px;
  }
  .k-footer__logo img,
  .k-footer__logo svg {
    width: 100%;
    max-width: 100%;
  }
  .k-footer__license {
    margin: 65px 0 40px 0;
  }
  .k-footer__creators {
    margin: 40px 0 0 0;
  }
  .k-footer {
    background: #f3f4f5 url(../images/bottom_help.png) no-repeat bottom 120px center;
  }
}
